.approve{
    transform: translateY(30px);
    text-align: center;
    font-style: inherit;
    font-size: 20px;
   
}


.approved{
  
    transform: translateY(30px);
}
.approvetable{
    transform: translateY(50px);
    border: 1px solid;
    margin-left: 250px;
    margin-top: -10px;
}
.search{
    margin-left: 600px;
    margin-top: 50px;
    padding-bottom: 11px;
}