.user{
    transform: translateY(40px);
    text-align: center;
    color: white;
   font-size: 20px;
   font-weight: inherit;
} 

.users{
    transform: translateY(110px);
    border: 2px solid;
}

.tabl{
    color: white;
    transform: translateY(100px);
    border: 1px solid black;
    width: 400px;
    margin-left: 100px;
}
